{% extends "simulation/index.html" %}
{% load staticfiles %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_runningTrack1.css' %}">

{% endblock css %}

{% block content %}

	<div class="row">

		<br><br>
		
		<!-- Filas Horizontales -->
		<div class="col s6 m6 l6">
			<div class="row">
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: relative; display: none;" class="runners" id="runner1">
					<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 24px; max-height: 70px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: relative;" class="runnersR">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: relative; display: none;" class="runners" id="runner2">
					<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 24px; max-height: 70px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: relative;" class="runnersR">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: relative; display: none;" class="runners" id="runner3">
					<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 24px; max-height: 70px; margin-left: 0px; margin-top: 0px; margin-bottom: 0px; position: relative;" class="runnersR">
					<p class="white-text">Pista H</p>
				</div>
				<hr/>
			</div>
		</div>
		<!-- End Filas Horizontales -->

		<!-- Filas Verticales -->
		<div class="col s6 m6 l6">
			<div class="row">
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
				<div class="col s12 m12 l12" id="runningTrack">
					<p class="white-text">Pista V</p>
				</div>
				<hr/>
			</div>
		</div>
		<!-- End Filas Verticales -->

	</div>

	<!--div class="container">
		
		<h4>Dibujar pista de carrera 2</h4>

		<div class="row">
			
			<div class="input-field col s6 m6 l6">
				
				<input type="text" class="validate" id="chat-message-input">
				<label for="chat-message-input">Escriba su mensaje aquí!!</label>

			</div>

			<div class="col s6 m6 l6">
				
				<h6>Mensajes: </h6>

				<textarea id="chat-log" class="materialize-textarea" data-length="120"></textarea>
				{# <label for="chat-log"></label> #}

			</div>
		</div>

		<div class="row">
					
			<a class="waves-effect waves-light btn" type="button" value="Enter" id="pause"><i class="material-icons right">pause</i>Detener<a/> 

			<a class="waves-effect waves-light btn" type="button" value="Enter" id="resume"><i class="material-icons right">restore</i>Reanudar<a/> 

			{# <input id="room-name-submit" type="button" value="Enter"/> #}

		</div>		

	</div -->

	<!-- Modal Trigger -->
	<!--a class="waves-effect waves-light btn modal-trigger" href="#DisplayDisconnect">Modal</a -->

	<!-- Modal Structure -->
	<div id="DisplayDisconnect" class="modal">
		<div class="modal-content">
			<h4 class="red-text center-align"> <i class="material-icons red-text">desktop_access_disabled</i> Pantallas Desconectadas!</h4>
			<br>
			<h6>Se ha detectado la inactividad de la pantalla: <h5 id="display red-text"></h5></h6>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar <i class="material-icons green-text">done</i></a>
		</div>
	</div>


{% endblock content %}

{% block js %}

	<script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'jquery/scriptIndex.js' %}"></script>
    <script src="{% static 'js/display2.js' %}"></script>
  
{% endblock js %}
