{% extends "simulation/index.html" %}
{% load staticfiles %}

{% block css %}
    
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_runningTrack1.css' %}">

{% endblock css %}

{% block content %}

		<div class="row">
			
			<br><br>
			
			<div class="col s12 m12 l12" id="runningTrack">
				<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 330px; display: none;" class="runners2">
				<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 80px; max-height: 70px; margin-left: 330px; transform: rotate(-180deg); -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg);" class="runnerR2">
				<p class="white-text">Pista H</p>
			</div>

			<hr/>

			<div class="col s12 m12 l12" id="runningTrack">
				<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 330px; display: none;" class="runners2">
				<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 80px; max-height: 70px; margin-left: 330px; transform: rotate(-180deg); -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg);" class="runnerR2">
				<p class="white-text">Pista H</p>
			</div>

			<hr/>

			<div class="col s12 m12 l12" id="runningTrack">
				<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 330px; display: none;" class="runners2">
				<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 80px; max-height: 70px; margin-left: 330px; transform: rotate(-180deg); -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg);" class="runnerR2">
				<p class="white-text">Pista H</p>
			</div>
			
			<hr/>

			<div class="col s12 m12 l12">
				<!-- img src="{% static "img/gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px;" id="runner1" -->
				<p class="white-text">Pista H</p>
			</div>

			<hr/>

			<!--div class="col s12 m12 l12">
				<img src="{% static "img/gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px;" id="runner1">
				<div class="reloj" id="Minutos">00</div>
				<div class="reloj" id="Segundos">:00</div>
			</div-->
			<!-- div class="col s12 m12 l12">
				<img src="{% static "img/gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px;" id="runner1">
				<div class="reloj" id="Minutos">00</div>
				<div class="reloj" id="Segundos">:00</div>
			</div -->
			<div class="col s12 m12 l12 center-align">
				<button type="button" class="waves-effect waves-light btn" id="iniciar">Iniciar</button>
			</div>

			<hr/>

			<div class="col s12 m12 l12">
				<!-- img src="{% static "img/gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px;" id="runner1" -->
				<p class="white-text">Pista H</p>
			</div>
			
			<hr/>

			<div class="col s12 m12 l12" id="runningTrack">
				<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px; display: none;" class="runners">
				<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 80px; max-height: 70px; margin-left: 0px;" class="runnersR1">
				<p class="white-text">Pista H</p>
			</div>

			<hr/>

			<div class="col s12 m12 l12" id="runningTrack">
				<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px; display: none;" class="runners">
				<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 80px; max-height: 70px; margin-left: 0px;" class="runnersR1">
					<p class="white-text" >Pista H</p>
			</div>

			<hr/>

			<div class="col s12 m12 l12" id="runningTrack">
				<img src="{% static "img/gif/modificado_gif/corredormod.gif" %}" style="max-width: 80px; margin-left: 0px; display: none;" class="runners">
				<img src="{% static "img/corredor_reposo.gif" %}" style="max-width: 80px; max-height: 70px; margin-left: 0px;" class="runnersR1">
				<p class="white-text">Pista H</p>
			</div>



		</div>

	<!--div class="container">
		
		<h4>Dibujar pista de carrera 1</h4>		

		<div class="row">
			
			<div class="input-field col s6 m6 l6">
				
				<input type="text" class="validate" id="chat-message-input">
				<label for="chat-message-input">Escriba su mensaje aquí!!</label>

			</div>

			<div class="col s6 m6 l6">
				
				<h6>Mensajes: </h6>

				<textarea id="chat-log" class="materialize-textarea" data-length="120"></textarea>
				{# <label for="chat-log"></label> #}

			</div>
		</div>

		<div class="row">
					
			<a class="waves-effect waves-light btn" type="button" value="Enter" id="pause"><i class="material-icons right">pause</i>Pausar<a/> 

			<a class="waves-effect waves-light btn" type="button" value="Enter" id="resume"><i class="material-icons right">restore</i>Reanudar<a/> 

			{# <input id="room-name-submit" type="button" value="Enter"/> #}

		</div>

		<div class="responsive-img" id="runningTrack">
			
			<h1>Pista de carrera aqui</h1>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

		</div>

	</div-->

	<br>

{% endblock content %}

{% block js %}

	<script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'jquery/scriptIndex.js' %}"></script>
    <script src="{% static 'js/display1.js' %}"></script>
  
{% endblock js %}
