{% extends "simulation/index.html" %}

{% block content %}
	<div class="container">
		
		<form method="post" class="col s12 m12 l12">
			<div class="row">

				{% csrf_token %}

	            <div class="input-field col s6 m6 l6">
	                {{form.numberTurns}}
	            	<label for="{{form.numberTurns.label}}">{{ form.numberTurns.label }}</label>
	            </div>

	            <div class="input-field col s6 m6 l6">
	                {{form.numberTeams}}
	            	<label for="{{form.numberTeams.label}}">{{ form.numberTeams.label }}</label>
	            </div>

	            <div class="input-field col s6 m6 l6">
	                {{form.probabilityInjuries}}
	                <label for="{{form.probabilityInjuries.label}}">{{ form.probabilityInjuries.label }}</label>
	            </div>

			</div>       

			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		    	<i class="material-icons right">send</i>
		  	</button>
		  	 
		</form>

		

	</div>	
{% endblock content %}