<!-- Dropdown1 Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<!-- Dropdown2 Structure -->
<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper indigo darken-2">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <!-- Dropdown1 Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Simular<i class="material-icons right">arrow_drop_down</i></a></li>
      <!-- Dropdown1 Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Estadísticas<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="sass.html">Salir</a></li>
    </ul>
  </div>
</nav>